.main-navigation__list {
  display: none;
  position: absolute;
  left: 0;
  top: 65px;
  width: 100%;

  &.show {
    display: block;
  }

  &.close {
    display: none;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    position: static;
    max-width: 447px;
  }

  @media (min-width: $desktop) {
    max-width: 600px;
  }
}

.main-navigation__toggle {
  @media (min-width: $tablet) {
    display: none;
  }
}
