.main-navigation__list {
  display: none;
  position: absolute;
  left: 0;
  top: 65px;
  width: 100%;
  min-width: 320px;
  z-index: 4;

  &.show {
    display: block;
  }

  &.close {
    display: none;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    position: static;
    max-width: 600px;
  }

  @media (min-width: $desktop) {
    gap: 24px;
  }
}

.main-navigation__toggle {
  @media (min-width: $tablet) {
    display: none;
  }
}
