.main-catalog > .container {
  padding-top: 27px;
  padding-bottom: 41px;
  border-top: 1px solid $basic-grey;
  border-bottom: 1px solid $lines-light;
}

.main-catalog__title {
  @include text-style($secondary-font, 36px, 36px, $additional-color-text);
}
