.main-header {
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;

    @media (min-width: $tablet) {
      min-height: 50px;
      padding-top: 25px;
    }

    @media (min-width: $desktop) {
      padding-top: 54px;
    }
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (min-width: $tablet) {
    gap: 13px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-header__navigation {
  @media (min-width: $tablet) {
    margin-left: auto;
  }
}
