.no-js {
  display: flex;
  flex-direction: column;
  position: static;

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.no-js > .main-navigation__toggle {
  display: none;
}

.main-header > .no-js {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: normal;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.no-js > .main-header__logo {
  height: 65px;

  @media (min-width: $tablet) {
    height: auto;
  }
}

.no-js > .navigation-list__item {
  width: 100vw;
  margin-left: -20px;

  @media (min-width: $tablet) {
    width: auto;
    margin-left: 0;
  }
}
