.page__body {
  &--main {
    @media (min-width: $desktop) {
      background-image: linear-gradient(90deg, rgba(104, 183, 56, 0.85) 1040px, #62a53b 1041px), url("/images/main/hero-cat@1x.jpg");
      background-position: 50vw 0, 50vw 0;
      background-repeat: no-repeat;
      background-size: 100% 694px, 1041px 694px;
    }
  }
}
