.programs__box-title {
  @include text-style($secondary-font, 24px, 37px, $additional-color-text);
  text-transform: uppercase;
}

.programs__box-link {
  @include text-style($secondary-font, 16px, 16px, $additional-color-text);
  @include background-image(url("../../icons/stack.svg#arrow"), no-repeat, 24px 12px, 90%);
  display: block;
  width: 134px;
  padding-right: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
